// .grayscale no longer supported
/* .grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
} */

@each $class, $overflow in $overflows {
	.of-#{$class} {
		overflow: #{$overflow};
	}
}

.bo, [class*="bo-"] {
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}

.circle {
	@include vendor(border-radius, 50%);
}

.square {
	@include vendor(border-radius, 0);
}

.rounded {
	@include vendor(border-radius, #{$rounded});
}

.rounded-t {
	@include vendor(border-radius, #{$rounded} #{$rounded} 0 0);
}

.rounded-b {
	@include vendor(border-radius, 0 0 #{$rounded} #{$rounded});
}

.rounded-r {
	@include vendor(border-radius, 0 #{$rounded} #{$rounded} 0);
}

.rounded-l {
	@include vendor(border-radius, #{$rounded} 0 0 #{$rounded});
}

.fs-normal,
.fs-normal-hover:hover {
	font-style: normal;
}

.fs-italic,
.fs-italic-hover:hover {
	font-style: italic;
}

.td-u,
.td-u-hover:hover {
	text-decoration: underline;
}

.td-n,
.td-n-hover:hover {
	text-decoration: none;
}

$class: "";