@import 'main/imports';

html, body {
}

body {
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

@import 'partials/all';