*, html {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body {
	font-weight: 400;
}

b, strong {
	font-weight: 600;
}

a {
	//text-decoration: none;
	text-decoration: underline;
}

a.btn, a.button {
	text-decoration: none;
}

/* a, a:visited {
	color: inherit;
} */

img {
	border: 0;
	outline: 0;
}

.clr:after {
	content: '';
	display: table;
	clear: both;
}

input, textarea, button {
	@include vendor(box-sizing, border-box); 
	-webkit-appearance: none;
}

a, input[type="submit"] {
	cursor: pointer;
}