@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-o-placeholder             {@content} 
	&:-ms-input-placeholder      {@content}  
}

@mixin selection {
	&::selection                 {@content}
	&::-moz-selection            {@content}
	&::-ms-selection             {@content}
	&::-webkit-selection         {@content} 
	&::-o-selection              {@content}
}

@mixin clr {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin clrb {
	&:before {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin transition-transform($transition) {
	-webkit-transition: -webkit-transform $transition;
	   -moz-transition: -moz-transform $transition;
		-ms-transition: -ms-transform $transition;
		 -o-transition: -o-transform $transition;
		 	transition: transform $transition;
}

@mixin vendor($name, $argument...) {
	-webkit-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-o-#{$name}: #{$argument};
	#{$name}: #{$argument};
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	} 
}

@mixin font-face($name, $file, $weight, $style, $line-height) {
	@font-face {
		font-family: $name;
		src: url('../fonts/#{$file}.eot');
		src: url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/#{$file}.woff') format('woff'),
			 url('../fonts/#{$file}.ttf') format('truetype'),
			 url('../fonts/#{$file}.svg') format('svg');
		font-weight: $weight;
		font-style: $style;
		line-height: $line-height;
	}
}